PORT=4000
FRONTEND_URL=http://localhost:5173,http://192.168.1.53:5173,http://localhost:5174,http://192.168.1.53:5174,http://192.168.1.28:5173,http://192.168.1.28:5174
SESSION_SECRET=pawchain-secret-change-in-production
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=1234
DB_NAME=pawchain
VITE_API_BASE_URL=http://localhost:4000/api
VITE_ANIMAL_API_BASE_URL=http://localhost:8080/api
VITE_API_PROXY_TARGET=http://localhost:4000
VITE_CHAIN_ID=0xaa36a7
VITE_CHAIN_NAME=Sepolia
VITE_RPC_URL=https://rpc.sepolia.org
VITE_BLOCK_EXPLORER_URL=https://sepolia.etherscan.io
VITE_NATIVE_CURRENCY_NAME=Sepolia ETH
VITE_NATIVE_CURRENCY_SYMBOL=SEP
VITE_NATIVE_CURRENCY_DECIMALS=18
VITE_SBT_CONTRACT_ADDRESS=0xD04Ef2b3cc930e40da14F5a192313De5618e3Df4
VITE_MEMORY_NFT_CONTRACT_ADDRESS=0xBE5A3d79a49a2E9763148cdBff11D971f7f96912
VITE_PET_SBT_ADDRESS=0xD04Ef2b3cc930e40da14F5a192313De5618e3Df4
VITE_MEDICAL_PASSPORT_ADDRESS=0x1888440B67f602847774E75566F5F398D42129B7
SERVICE_KEY=
