PORT=4000
FRONTEND_URL=http://localhost:5173
SESSION_SECRET=pawchain-secret-change-in-production
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=pawchain
VITE_API_BASE_URL=http://localhost:4000/api
VITE_ANIMAL_API_BASE_URL=http://localhost:8080/api
VITE_API_PROXY_TARGET=http://localhost:4000
VITE_CHAIN_ID=0xaa36a7
VITE_CHAIN_NAME=Sepolia
VITE_RPC_URL=https://rpc.sepolia.org
VITE_BLOCK_EXPLORER_URL=https://sepolia.etherscan.io
VITE_NATIVE_CURRENCY_NAME=Sepolia ETH
VITE_NATIVE_CURRENCY_SYMBOL=SEP
VITE_NATIVE_CURRENCY_DECIMALS=18
VITE_SBT_CONTRACT_ADDRESS=
VITE_MEMORY_NFT_CONTRACT_ADDRESS=
VITE_PET_SBT_ADDRESS=0x149c3A733A5344B3F39361930A90B7E384F9D8E8
VITE_MEDICAL_PASSPORT_ADDRESS=0x3885d03aFccCE567BddD6415CCafe4483f4646c6
SERVICE_KEY=
